<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Kite Zerodha Project">
	 <listeners>
	
	<listener class-name="extentlisteners"></listener>
	
	 </listeners>
  <test thread-count="5" name="buy / sell module">
    <classes>
      <class name="test.LoginPageTest"/>
	  <class name="test.DashBoardPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
